img {
  margin: 0 auto;
  display: block;
  width: 20%;
}
p {
  font-family: 'Lato', sans-serif;
}
label {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}
.form-control {
  margin-bottom: 20px;
}


#ruby, #csharp, #java, #php, #design, #trouble {
  display: none;
}
#responses {
  text-align: center;
}
#php img{
  margin-bottom: 50px;
  margin-top: 70px;
}
#trouble img{
  margin-bottom: 50px;
  margin-top: 50px;
  width: 10%;
}
#design img{
  width: 28%;
}
.container .jumbotron {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  background-color: #51ccc3;
  color: white;
  border-radius: 0px;
}
.panel {
  border: 1px solid #373d3c;
  min-height: 500px;
  border-radius: 0px;
}
.panel .panel-header{
  font-size: 1.5em;
  color: grey;
}

.btn {
  display: block;
  margin: 0 auto;
}

.well {
  min-height: 500px;
  margin-top: 20%;
}
