img {
  margin: 0 auto;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 20%;
}
p {
  font-family: 'Lato', sans-serif;
}
label {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
}

#formInputSection{
  display: none;
}

#welcome {
  margin-top: 10%;
  padding: 200px;
  background-color: #e5e5e5;
  box-shadow: 10px 10px 20px grey;
}
#welcome .btn:hover{
  width: 300px;
  height: 100px;
  font-size: 2em;
  color: white;
  background-color: #53ad56;
  border: 1px solid #53ad56;

}
#welcome .btn{
  width: 300px;
  height: 100px;
  font-size: 2em;
  color: #2dada6;
  background-color: transparent;
  border: 1px solid #51ccc3;
}

#welcome h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}
#welcome h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: .5em;
  padding-bottom: 10px;
}

#ruby, #csharp, #java, #php, #design, #trouble {
  display: none;
}
#responses {
  text-align: center;
}

#responses .btn {
  margin-top: 50px;
}
#responses p {
  margin: 0 auto;
  width: 70%;
}
#responses h1 {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 70%;
}

#php img{
  margin-bottom: 50px;
  margin-top: 70px;
}
#trouble img{
  margin-bottom: 50px;
  margin-top: 50px;
  width: 10%;
}
#design img{
  width: 28%;
  margin-top: 40px;
}
#java img{
  margin-top: 30px;
}
#csharp img{
  margin-top: 40px;
}

.container .jumbotron {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  background: -webkit-linear-gradient(bottom right, #51ccc3, #2dada6);
  color: white;
}

.form-control {
  margin-bottom: 15px;
}

.jumbotron h4 {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Muli', sans-serif;
}
.panel-body {
  border: 1px solid lightgrey;
  min-height: 500px;
  padding-top: 30px;
  background-color: #e5e5e5;
}
.panel-header{
  font-size: 1.25em;
  color: grey;
  text-align: justify;
}

.btn {
  display: block;
  margin: 0 auto;
}

.well {
  min-height: 700px;
  margin-top: 20%;
}
/*classes for error and success messages*/
.has-error {
  color: #a94442;
}
.has-success {
  color: #3c763d;
}
